.input {
  width: 33%;
  padding: 3px 3px 3px 10px;
  border: 2px solid teal;
  border-radius: 10px;
  color: teal;
  outline-width: 0;
}
.button {
  padding: 3px;
  border: 2px solid teal;
  border-radius: 10px;
  margin-left: 5px;
  background-color: white;
  color: teal;
}
