.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 200px;
  padding: 10px;

  color: teal;

  border: 2px solid teal;
  border-radius: 10px;
}
.card p {
  font-weight: bold;
}

.img {
  margin-bottom: 10px;

  object-fit: contain;
  pointer-events: none;
}
.cross {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 25px;
  height: 25px;

  background-image: url(../../images/cross.png);
  background-size: contain;
  background-color: grey;

  cursor: pointer;
}
