.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 200px;
  padding: 10px;

  color: teal;

  border: 2px solid teal;
  border-radius: 10px;
}
.card p{
  font-weight: bold;
}

.img {
  margin-bottom: 10px;

  object-fit: contain;
  pointer-events: none;
}


