* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-header: #f7a706;
  --color-bg-hover: #0f7dc6;
  --color-active: white;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

header {
  background-color: var(--color-header);
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

h1,
h2 {
  text-align: center;
  margin-top: 0;
}

.container {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

main {
  min-height: calc(100vh - 6rem);
}

.link-active {
  cursor: default;
  border: 2px solid white;
}
.top-block {
  width: 100%;
  margin: 10px;
  text-align: center;
}
.top-block span {
  position: absolute;
  top: 70px;
  left: calc(50% - 2rem);
}

