.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 4 - 3 * 10px);
  min-width: 200px;
  padding: 10px;

  color: teal;

  border: 2px solid teal;
  cursor: pointer;
}

.img {
  width: 100%;
  object-fit: contain;
  
  pointer-events: none;
}

